body {
font-family: "PT Sans Narrow", "Arial", sans-serif;
font-weight:
font-size:
color:
line-height:
}

h1 {
font-family:
font-weight:
font-size:
color:
line-height:
}

h2 {
font-family:
font-weight:
font-size:
color:
line-height:
}